# .ebextensions/01-java.config
option_settings:
  aws:elasticbeanstalk:application:environment:
    SERVER_PORT: 8080
    JAVA_OPTS: "-Xmx512m -Xms256m -XX:+UseG1GC"
  aws:autoscaling:launchconfiguration:
    InstanceType: t3.small
    IamInstanceProfile: aws-elasticbeanstalk-ec2-role
  aws:autoscaling:asg:
    MinSize: 1
    MaxSize: 4
  aws:elasticbeanstalk:healthreporting:system:
    SystemType: enhanced
  aws:elasticbeanstalk:application:
    Application Healthcheck URL: /actuator/health